.slides-parent{
    display: flex;
    align-items: center;
    min-height: 15rem;
    overflow: auto;
    padding: 1rem 10px;

    .slide-content {
        height: 10rem;
        min-width: 16rem;
        max-width: 18rem;
        border: 1px solid;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        word-break: break-word;

        img {
            width: 100%;
        }

        .video-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            padding-top: 5px;
            img{
                height: 75%;
                width: unset;
            }
        }
    }
}
