<div>
    <div class="slideshow-info">
        <div>
            <span class="fw-bold">Slideshow name</span>
            <input type="text" name="slideshowName" class="p-1 mx-3" [(ngModel)]="slideshow.name"
                [disabled]="!enableEditing">

            <mat-icon role="button" *ngIf="!enableEditing" (click)="editSlideshow('edit')">edit</mat-icon>
            <mat-icon role="button" *ngIf="enableEditing" (click)="editSlideshow('save')" [hidden]="slideshow.isLoading">done_all</mat-icon>
            <div class="spinner-border spinner-border-sm m-0" role="status" [hidden]="!slideshow.isLoading">
                <span class="visually-hidden">Loading...</span>
              </div>
        </div>
        <div>
            <span class="fw-bold">Slideshow URL</span>
            <input type="text" name="slideshowName" class="p-1 mx-3" [(ngModel)]="slideshow.url" disabled>
            <span role="button">Copy</span>
        </div>
    </div>

    <div class="slides-parent scroll-bar">
        <div class="d-flex flex-column align-items-center mx-2" *ngFor="let slide of slideshow.slides; let i = index">
            <div class="row">
                <button mat-icon-button class="col-6 m-2 btn btn-secondary" (click)="editSlide(slide)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button class="col-6 m-2 btn btn-danger" (click)="deleteSlide(slide, i)">
                    <mat-icon [hidden]="slide.isLoading">delete</mat-icon>
                    <div class="spinner-border spinner-border-sm" role="status" [hidden]="!slide.isLoading">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>

            <div class="slide-content">
                <h2 *ngIf="slide.website_url" class="m-0">{{slide.website_url}}</h2>
                <img *ngIf="slide.image" [src]="slide.image" alt="">
            </div>

            <input type="text" name="duration" class="w-75 mt-2 text-center" disabled [value]="slide.duration">
        </div>
        <div class="create-btn" (click)="createSlide('slide')">
            <i class="bi bi-plus"></i>
        </div>
    </div>

    <button mat-flat-button color="primary" class="mt-5 px-5">Preview</button>
</div>