<div class="slideshows-list scroll-bar">

    <div class="mb-3 card" *ngFor="let slideshow of slideshows; let i = index">
        <h3 class="text-center card-header"><b>{{slideshow.name}}</b></h3>
        <div class="d-flex flex-column align-items-center card-body">
            <div>
                <div>
                    <span>{{baseUrl + slideshow.url}}</span>
                </div>
            </div>
            <div class="mt-3 d-flex align-items-center">
                <button type="button" class="btn btn-secondary" [routerLink]="'/dashboard/slideshow/'+ slideshow.url">
                    <i class="bi bi-pencil-fill"></i>
                </button>

                <i class="bi btn btn-success mx-2" #id [class]="utils.getCopiedLink() == id ? 'bi-clipboard-check-fill':'bi-clipboard'" (click)="utils.copyLink($event, slideshow.url)"></i>

                <button type="button" class="btn btn-danger" (click)="deleteSlideshow(slideshow, i)">
                    <i class="bi bi-trash-fill" [hidden]="slideshow.isLoading"></i>
                    <div class="spinner-border spinner-border-sm mx-2" role="status" [hidden]="!slideshow.isLoading">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <div>
                <span>Created before {{getRemaining(slideshow.created_at.split(',')[0])}}
                    {{getRemaining(slideshow.created_at.split(',')[0]) == 1 ? 'day' : 'days'}}</span>
            </div>
            <span class="mx-3">{{slideshow.slides?.length}} {{slideshow.slides?.length == 1 ? 'Slide' :
                'Slides'}}</span>
        </div>
    </div>

    <div class="text-center" *ngIf="slideshows?.length === 0">
        The list is empty
    </div>

</div>