<div>
    <div class="header d-flex justify-content-between py-3">
        <h1 class="mx-4"><b>Super Duper Slideshow</b></h1>
        <div>
            <span>{{userService.userData.username}}</span>
            <span class="mx-3 fw-bold" role="button" (click)="logout()">Logout</span>
        </div>
    </div>

    <div class="row mx-3 content">
        <div class="col-2">
            <div>
                <p class="text-start p-0 mb-3" role="button"
                    [class]="!router.url.includes('slideshows') ? 'fw-bold mx-2' : ''"
                    [routerLink]="'/dashboard/create'">Create</p>
            </div>
            <div>
                <p class="text-start p-0" role="button"
                    [class]="router.url.includes('slideshows') ? 'fw-bold mx-2' : ''"
                    [routerLink]="'/dashboard/slideshows'">My Slideshows</p>
            </div>
        </div>

        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>